{% extends 'base.html.twig' %}

    {% block title %} Home {% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>
    {% endblock %}

    {% block body %}

    <div class="container">
        <div class="button-box">
            <button class="button">
                <a href="{{ path('three') }}">Pixel Burger!</a>
           </button>
        </div>
    </div>

    <script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>

  {% endblock %}
