{% extends 'base.html.twig' %}

{% block title %}Nowa Rezerwacja{% endblock %}

{% block stylesheet %}
  {{ parent() }}
  <link href="{{ asset('css/form_new.css') }}" rel="stylesheet"/>
{% endblock stylesheet %}

{% block body %}
    <h1>Podaj informacje dotyczące składanej rezerwacji</h1>

    {{ include('rezerwacja/_form.html.twig') }}

    <a href="{{ path('rezerwacja_index') }}">powrót</a>
{% endblock %}
