body{
    background-size:auto;
    background-image: url("img/bg.png");
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image-box {
        width: 50%;
        height: 200px;
        position: absolute;
        top: -200px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-image: url(img/Logo.png);
        }
        .button-box {
        width: 20%;
        height: 100px;
        position: absolute;
        top: 100px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        }

        .button{
            width: 90%;
            height: 100%;
            background: #00cc6d;
            border-bottom: 1px double #660000;
            border-top: 1px double #660000;
            border-left:1px double #FF0033;
            border-right:1px double #FF0033;
            color: rgb(0, 0, 0);
            font-size: 2vmin;
        }