@import url("https://use.typekit.net/jmk3xov.css");

:root {
  --dark-bg: hsl(0, 0%, 0%, 80%);
  --white-bg: hsl(0, 0%, 100%, 60%);
  --spacing: 350px;

  font-family: elevon, sans-serif;
  font-weight: 500;
  font-style: normal;
}

main {
   width: 100vw;
   color: white;
   z-index: 99;
   position: absolute;
   width: 100%;
   margin: 0px auto;
   padding: 30px 0px;

   display: grid;
   grid-template-columns: repeat(12, 1fr);
 }

 h1, h2, h3, blockquote {
   font-stretch: extra-expanded;
   font-family: elevon, sans-serif;
   font-weight: 700;
   font-style: normal;
   padding: 1rem;
 }

 canvas {
   position: fixed;
   top: 0;
   left: 0;
 }


   header {
     background: var(--dark-bg);
     grid-column: 4 / span 6;
     font-size: 2.5rem;
     padding: 1rem;
     /* margin-bottom: var(--spacing);
     */
   }

   #logo {
       height: auto;
       width: 100%;
       background: var(--dark-bg);
       font-size: 2.5rem;
     }

   section {
     grid-column: 2 / 8;
     padding: 1rem;
     background: var(--dark-bg);
     font-size: 1.25rem;
     line-height: 1.5;
     margin-bottom: var(--spacing);
   }

   #sectionDwa {
     grid-column: 6 / span 6;
   }

   blockquote {
     background-color: var(--white-bg);
     margin: 0;
     padding: 2rem;
     grid-column: 4 / span 6;
     margin-bottom: var(--spacing);
   }

   blockquote p {
     color: black;
     font-size: 4rem;
     font-stretch: extra-expanded;
     display: inline;
     line-height: 1;
   }

   blockquote a {
     color: black;
     font-size: 4rem;
     display: inline;
     line-height: 1;
   }

   #thanks {
     background-color: var(--white-bg);
     margin: 0;
     padding: 3rem;
     grid-column: 2 / span 6;
     margin-bottom: var(--spacing);
   }

   #dziekujemy {
     height: auto;
     width: 100%;
     grid-column: 2 / span 5;
     font-size: 2.5rem;
   }

   .left {
     grid-column: 6 / 12;
   }
