{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('css/rez3d.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<canvas id="bg" ondblclick="myFunction()">canvas</canvas>
  <main>
    <div id="here" style="display:none;">
      <ul>
        <li>
          <p>Wynajmij ten stolik</p>
        </li>
        <li>
          <p>Obejrzyj inne stoliki</p>
        </li>
      </ul>
    </div>
  </main>
{% endblock %}

{% block javascripts %}
      <script>
        function myFunction() {
          var x = document.getElementById('here');
          x.style.display =
            (x.style.display.toString() == 'none')
              ? 'block'
              : 'none';
          console.log(x.style.display);
        };
      </script>
  <script type="module" src="{{ asset('js/proba_hdr.js') }}"></script>
{% endblock %}
