{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('css/rez3d.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<canvas id="bg">canvas</canvas>
  <main>
    <div id="here" style="display:none;">
      <ul>
        <li>
          <p id="option">Wynajmij ten stolik</p>
        </li>
        <li>
          <p>Obejrzyj inne stoliki</p>
        </li>
      </ul>
    </div>
  </main>
{% endblock %}

{% block javascripts %}
  <script type="module" src="{{ asset('js/controls_hdr.js') }}"></script>
  <script type="module" src="{{ asset('js/proba_hdr.js') }}"></script>
{% endblock %}
